<!DOCTYPE html>
<html>
<head>
    <title>Image Gallery</title>
</head>
<body >
    <header>
        <h1>Welcome to the Image Gallery</h1>
    </header>
    <main>
        {% for image in images %}
            <div>
                <a href="{% url 'detail' image.pk %}">
                    <img src="{{ image.image.url }}" alt="{{ image.title }}" style="width: 200px;">
                </a>
                <p>{{ image.title }}</p>
            </div>
        {% endfor %}
    </main>
    <footer>
        <p>Image Gallery Footer</p>
    </footer>
</body>
</html>
